.register_login {
  display: flex;
  justify-content: center;
}
.login_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 20vh;
  background: #edeaea;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px;
}
.login_box button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: "Roboto Mono";
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  clip-path: polygon(0 0, 91% 0, 100% 100%, 9% 100%);
  background: #859ce6;
}
.login_register_main {
  height: 100vh;
  width: 100vw;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  background: #859ce6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login_register_main h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #edeaea;
}
