.register_login {
  display: flex;
  justify-content: center;
}
.login_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 20vh;
  /* background: #edeaea; */
  padding: 20px;
  /* border-radius: 5px; */
  /* box-shadow: 1px 1px 1px; */
}
.login_box button {
  width: 100px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Merriweather";
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #393939;
  opacity: 0.5;
  border: 1px solid;
  border-radius: 3px;
  padding: 15px;
}
.login_box button:hover {
  background: #3b7dd8;
  color: #ededed;
}

.login_register_main {
  height: 100vh;
  width: 100vw;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  /* background: #859ce6; */
  /* background: linear-gradient(97deg, #859ce6,#7386c5,#8594c5,#94a1c9); */
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login_register_main h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background: #edeaea;
  color: #3d3547;
}
