.register_login {
  display: flex;
  justify-content: center;
}
.login_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vw;
  height: 20vh;
  background: #edeaea;
  padding: 20px;
  border-radius: 5px;
  /* clip-path: polygon(0 0, 60% 0, 100% 100%, 40% 100%); */
  /* background: #3d3547; */
}
.login_box button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100px; */
    padding: 10px;
    font-family: 'Roboto Mono';
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}
.login_register_main {
  height: 100vh;
  width: 100vw;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  background: #859ce6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login_register_main h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /* margin-left: -70px; */
}
