.main_notepad {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-top: 20px;
}
.text_area {
  width: 70vw;
}

.main_notepad {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #edeaea;
}

.note_header {
  background: #859ce6;
  /* clip-path: polygon(85% 0, 100% 51%, 86% 100%, 0 100%, 0 0); */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 4px;
}
.note_header button {
  width: 100px;
  height: 20px;
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: "Roboto Mono";
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  clip-path: polygon(0 0, 91% 0, 100% 100%, 9% 100%);
  background: #edeaea;
}
.user_notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* background: #9B969C; */
  width: 30vw;
  height: 80vh;
  border-radius: 4px;
}
.user_notes button {
  width: 24vw;
  margin: 5px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  font-family: "Roboto Mono";
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
  /* clip-path: polygon(0 0, 91% 0, 100% 100%, 9% 100%); */
  background: #859ce6;
}
.the_notes {
  display: flex;
  height: 7vh;
  width: 30vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #859ce6;
  margin: 0 0 5px 0;
  border-radius: 10px;
  /* font-family: 'Roboto Mono'; */
}
.the_notes button {
  width: 35px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 3px;
  background: #ff334a;
  font-size: 20px;
}
textarea {
  width: 65vw;
  height: 80vh;
  border-radius: 4px;
  border: none;
}
