.app_main{
  background: #edeaea;
  width: 100vw;
  height: 100vh;
  /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
}
.app_main h1{
  font-family: 'Roboto Mono';
  color: #3d3547;
  /* display: flex;
  flex-direction: row; */
}
